@model DataCollector.Models.RegisterModel

@using (Ajax.BeginForm("Register", "Account", null, new AjaxOptions() { OnSuccess = "Register_Class.OnSuccessRegister", HttpMethod = "POST" }, new { id = "RegisterForm" }))
{
<div style="width:250px;">
    <div class="form-group" style="width:90%">
        @Html.ValidationSummary(true)
        <!-- Login Form -->
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", style = "height:20px; text-align: center", id = "login", placeholder = "نام کاربری" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div> <div class="form-group" style="width:90%">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", style = "height:20px; text-align: center", id = "password", placeholder = "رمز عبور" })
        @Html.ValidationMessageFor(m => m.Password)
    </div><div class="form-group" style="width:90%">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style = "height:20px; text-align: center", id = "confirmPassword", placeholder = "تکرار رمز عبور" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div><div class="form-group" style="width:90%">
        @(Html.DropDownListFor(m => m.UserRole, new List<SelectListItem>() {
        new SelectListItem(){ Text="کاربر", Value="USER"},
        new SelectListItem(){ Text="مدیر", Value="ADMIN"},
        new SelectListItem(){ Text="ناظر", Value="SUPERVISOR"}}, new { @class = "form-control", style = "height:20px; text-align: center" }))

        @Html.ValidationMessageFor(m => m.UserRole)
    </div>
    <div class="form-group" style="width:90%">
        <button type="submit" style="height:20px" class="form-control btn btn-success">اعمال</button>
    </div>
</div>
}

<script>
    Register_Class = {
        OnSuccessRegister: function (data) {
            $("#RegisterForm")[0].parentElement.innerHTML = data;
            $("#UserGrid").data("kendoGrid").dataSource.read();
        }
    }
</script>
