@model DataCollector.Models.RegisterModel


    @using (Ajax.BeginForm("ResetPassword", "Account", null, new AjaxOptions() { OnSuccess = "ResetPassword_Class.OnSuccess", HttpMethod = "POST" }, new { id = "RessetPasswordForm" }))
    {
        <div style="width:250px;">
            <div class="form-group" style="width:90%">
                @Html.ValidationSummary(true)
                <!-- Login Form -->
                @Html.HiddenFor(m => m.UserName)
                @Html.HiddenFor(m => m.UserRole)
                تغییر رمز کاربر : @{if(Model!= null){@Model.UserName}}
            </div> <div class="form-group" style="width:90%">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", style = "height:20px; text-align: center", id = "password", placeholder = "رمز عبور" })
                @Html.ValidationMessageFor(m => m.Password)
            </div><div class="form-group" style="width:90%">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style = "height:20px; text-align: center", id = "confirmPassword", placeholder = "تکرار رمز عبور" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div class="form-group" style="width:90%">
                <button type="submit" style="height:20px" class="form-control btn btn-success">اعمال</button>
            </div>
        </div>
    }
<script>
    ResetPassword_Class = {
        OnSuccess: function (data) {
            $("#RessetPasswordForm")[0].parentElement.innerHTML = data;
            $("#resetPassWin").data("kendoWindow").close();
        }
    }
</script>